@import "tailwindcss";
/* @variant dark (&:where([data-theme="dark"], [data-theme="dark"] *)); */
@variant dark (&:where(.dark, .dark *));
/* @custom-variant dark (&:where(.dark, .dark *)); */
/* @config "../tailwind.config.ts"; */

@theme {
  --color-darktheme: #11001f;
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;

  --font-Outfit: "Outfit", "sans-serif";
  --font-Ovo: "Ovo", "serif";

  --shadow-black: 4px 4px 4px #000;
  --shadow-white: 4px 4px 4px #fff;
}

/* @layer base {
  @variant dark {
    
  }
} */

* {
  font-family: Outfit;
}


.grid-cols-auto{
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}